@import './variables.module.scss';

// ___Темная тема___
.primaryTextThemeDark {
    color: $dark-text-primary;
}

.secondaryTextThemeDark {
    
}

.backgroundThemeDark {
    background-color: rgb(30, 43, 72);
}

.backroundThemeDarkSecondary {
    background-color: rgb(20, 29, 46);
}

// ___Светлая тема___

.primaryTextThemeLight {
    color: $light-text-primary;
}

.secondaryTextThemeLight {

}

.backgroundThemeLight {
    background-color: rgb(255, 255, 255);
}

.backgroundThemeLightSecondary {
    background-color: rgb(245, 247, 255);
}

