// светлая тема
$light-bg: rgb(245, 247, 255);
$light-text-primary: rgb(42, 51, 65);
$light-text-secondary: rgb(105, 124, 155);

// темная тема
$dark-bg: rgb(20, 29, 46);
$dark-text-primary: white;
$dark-text-secondary: rgb(143, 150, 163);
