.list {
    list-style: none;
    width: 78%;
    display: flex;
    // flex-direction: column;
    justify-self: right;
    color: rgb(255, 255, 255);
    margin: 0;

    .listItem {
        
    }
}