@import url('./fonts/fonts.css');

body {
  margin: 0;
  font-family: 'Space-Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
}

body.dark {
  background-color: rgb(20, 29, 46) !important; 
}

body.light {
  background-color: rgb(245, 247, 255) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
